@page
@model Falc.Identity.Server.Pages.Index

<div class="welcome-page">
    <h1>
        <img src="~/falc-logo.svg" class="logo" alt="FALC logo">
        Welcome to FALC Identity Server
        <small class="text-muted">(version @Model.Version)</small>
    </h1>
</div>
